<div class="toc-container">
  <h3 class="toc-heading">📖 Article Navigation</h3>
  <div class="toc-links">
    {% if include.link1 and include.label1 %}
      <a href="{{ include.link1 }}" class="toc-link">{{ include.label1 }}</a>
    {% endif %}

    {% if include.link2 and include.label2 %}
      <a href="{{ include.link2 }}" class="toc-link">{{ include.label2 }}</a>
    {% endif %}

    {% if include.link3 and include.label3 %}
      <a href="{{ include.link3 }}" class="toc-link">{{ include.label3 }}</a>
    {% endif %}

    {% if include.link4 and include.label4 %}
      <a href="{{ include.link4 }}" class="toc-link">{{ include.label4 }}</a>
    {% endif %}

    {% if include.link5 and include.label5 %}
      <a href="{{ include.link5 }}" class="toc-link">{{ include.label5 }}</a>
    {% endif %}

    {% if include.link6 and include.label6 %}
      <a href="{{ include.link6 }}" class="toc-link">{{ include.label6 }}</a>
    {% endif %}

    {% if include.link7 and include.label7 %}
      <a href="{{ include.link7 }}" class="toc-link">{{ include.label7 }}</a>
    {% endif %}

    {% if include.link8 and include.label8 %}
      <a href="{{ include.link8 }}" class="toc-link">{{ include.label8 }}</a>
    {% endif %}
  </div>
</div>
